# Dependencies
node_modules/

# Build outputs
dist/
build/
.output/

# Vite
*.local
.vite/

# Storybook
storybook-static/

# TypeScript
*.tsbuildinfo

# Env files
.env
.env.*
!.env.example

# PocketBase
backend/pb_data/
backend/pocketbase
backend/*.exe

# macOS
.DS_Store

# Editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
