<column class="h-full" name="Suggested ICD Codes" icon-name="Brain">
  <p au-slot="chip" class="text-xs text-neutral-500">${codes.length} Suggestion${codes.length > 1 ? 's' : ''}</p>

  <div au-slot="content" class="flex-col gap-2 flex">
    <div repeat.for="code of codes" class="flex flex-col gap-3 bg-slate-50 border-l-4 border-sky-600 p-4 rounded-lg overflow-hidden">
      <div class="flex justify-between items-center">
        <p class="bg-sky-100 text-sky-700 px-2 font-bold">
          ${code.code}
        </p>

        <p class="text-xs font-semibold text-neutral-400 capitalize">${code.status}</p>
      </div>
      <p class="font-extrabold text-lg">${code.name}</p>
      <div if.bind="code.status !== 'rejected' && code.status !== 'accepted'" class="grid grid-cols-2 gap-2 w-full">
        <styled-button fill="true" variant="accept"><au-icon name="CircleCheck" size="14"></au-icon>Accept</styled-button>
        <styled-button fill="true" variant="destructive"><au-icon name="CircleX" size="14"></au-icon>Reject</styled-button>
      </div>

      <div if.bind="code.status === 'accepted'" class="w-full">
        <styled-button fill="true" variant="accept"><au-icon name="CircleCheck" size="14"></au-icon>Accepted</styled-button>
      </div>
      <div if.bind="code.status === 'rejected'" class="w-full">
        <styled-button fill="true" variant="destructive"><au-icon name="CircleX" size="14"></au-icon>Reject</styled-button>
      </div>
    </div>

    <div if.bind="isSearching" class="w-full animate-pulse flex flex-col gap-2 py-8 text-slate-400 items-center align-middle border border-dashed border-slate-200 rounded-lg">
      <au-icon size="36" name="Sparkles"></au-icon>
      <p class="font-bold">Searching for Additional Codes...</p>
    </div>
  </div>

</column>
