<import from="./code-card/code-card"></import>

<column class="h-full" name="Suggested ICD Codes" icon-name="Brain">
  <p show.bind="pendingItems.length > 0" au-slot="chip" class="text-xs text-neutral-500">${pendingItems.length} Pending</p>

  <div au-slot="content" class="flex-col gap-4 flex">
    <div class="flex-1 flex flex-col gap-2">
      <code-card
        repeat.for="code of codes"
        code.bind="code"
        accept.trigger="acceptCode($event)"
        reject.trigger="rejectCode($event)"
        undo.trigger="undoCode($event)"
      ></code-card>

      <div if.bind="isSearching" class="w-full animate-pulse flex flex-col gap-2 py-8 text-slate-400 items-center align-middle border border-dashed border-slate-400 rounded-lg">
        <au-icon size="36" name="Sparkles"></au-icon>
        <p class="font-bold">Searching for Additional Codes...</p>
      </div>
    </div>

    <div class="border-t-2 border-slate-200 pt-4">
      <div class="pb-4">
        <p class="flex font-semibold text-slate-400"><span class="flex-1">Accepted Codes:</span> ${acceptedItems.length}</p>
      </div>

      <div class="">
        <styled-button disabled.bind="pendingItems.length > 0" fill="true"><au-icon name="Send"></au-icon>Submit to Billing</styled-button>
      </div>
    </div>
  </div>

</column>
